@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    padding: 3rem 0 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #505661;
    font-family: 'Montserrat', sans-serif;
}

/*
  =================================================================================================================== */
.container {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: calc(1200px - 2rem);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
    z-index: 100;
    background: #fff;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .15);
}

.header__logo {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    transition: color .3s Linear;
}

.header__logo:hover {
    color: #df0031;
    transition: color .3s Linear;
}

.main {
    min-height: 80vh;
}

.footer {
    padding: 1rem 0;
    min-height: 400px;
    background: #f7fafc;
}